* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

.hero-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background-color: rgb(2, 28, 59);
  color: aliceblue;
}

.hero-h1 {
  font-size: 90px;
  letter-spacing: 0.1em;
  margin-bottom: 10%;
  text-align: center;
}

.hero-h3 {
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 5%;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

.next-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 2%;
}

.hero-container div a {
  text-align: center;
  padding: 10px;
  font-size: 45px;
  text-decoration: none;
  color: aliceblue;
}

.trybewarts {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: aliceblue;
}

.text-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.trybewarts-h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  margin-bottom: 3%;
  color: rgb(50, 167, 145);
}

.trybewarts-p {
  font-family: 'Caveat', cursive;
  font-size: 23px;
  margin-bottom: 20px;
}

.trybewarts h2 {
  font-size: 15px;
}

.container-languages {
  display: flex;
  padding-top: 10px;
  margin-bottom: 10px;
}

.container-languages p {
  font-family: 'Caveat', cursive;
  font-size: 23px;
  margin-right: 50px;
}

.trybewarts button {
  background-color: rgb(50, 167, 145);
  border: none;
  color: aliceblue;
  border-radius: 8px;
  cursor: pointer;
  height: 45px;
  width: 75px;
}

.trybewarts button:hover {
  background-color: aliceblue;
  border: 1px solid rgb(50, 167, 145);
  color: black;
  transition: 0.6s;
}